.fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
    /* background-color: #fff; */

}

.headerCss {
    background: #000;
}

.logo {
    background-image: url('../../images/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    width: 200px;
}
