.indexPageCss {
  position: relative;
  padding-top: 50px;
  height: calc(100vh - 0px);
}

.row {
  margin: unset;
}

.gCenter,
.g-center {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.text-center {
  text-align: center;
}

.col1 {
  flex: 1;
}

.col2 {
  flex: 2;
}

.col3 {
  flex: 3;
}

.col4 {
  flex: 4;
}

.border-color-f0 {
  border: 1px solid #f0f0f0;
}

.text-nowrap {
  white-space: nowrap;
}

.padding-5 {
  padding: 5px;
}

.padding-bt-5,
.padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-lr-5,
.padding-rl-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.margin-top_5 {
  margin-top: -5px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-5 {
  margin: 5px;
}

.handle {
  cursor: pointer;
}

.img {
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-cover {
  background-size: cover;
  position: relative;
}

.img-portrait {
  height: 80px;
  width: 80px;
  position: relative;
  border: 1px solid #f0f0f0;
}

.img-delete {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #f0f0f0;
  background: #fff;
}

.file-upload {
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0px;
  left: 0px;
  position: absolute;
}

.album-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.album-body .album-item {
  position: relative;
  width: calc(25% - 10px);
  border: 1px solid #f0f0f0;
  height: 160px;
  margin: 5px;
}

.album-body .album-item-small {
  position: relative;
  width: calc(25% - 5px);
}




/*********************************************/
.home-body {
  display: flex;
  flex-wrap: wrap;
}
