.loginCss {
    position: absolute;
    height: calc(100vh - 160px);
    width: calc(100vw - 10px);
    background-image: url('../../images/home-bg.png');
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow-x: hidden;
  }
  
  .LogBody {
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px 80px
  }
  